<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.svg">
    <title>Material Colors Picker</title>
    <meta name="author" content="madsouris">
    <meta name="keywords" content="web design,color,color picker,web,material,material design,souris">
    <meta name="description" content="Color picker from Old Google Material Design Colors. Click to copy to clipboard.">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
