<template>
    <footer>
        <p>
            Made in 🇰🇭 Cambodia, by <a href="https://vannrith.com" target="_blank" rel="noreferrer">@madsouris</a>
        </p>
        <p>
            <a href="https://gitlab.com/madsouris/materialcolors" target="_blank" class="git-button" rel="noreferrer">Gitlab Repo</a>
            Code improvement is needed :)
        </p>
    </footer>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    footer {
        text-align: center;
    }

    a {
        color: #2196F3;
        font-weight: 800;
        text-decoration: none;
    }

    .git-button {
        display: inline-block;
        background: #ffccbc;
        color: #ff5722;
        border-radius: 5px;
        padding: 8px 12px;
        font-weight: 800;
        text-decoration: none;
    }

</style>