<template>
    <header>
        <img src="../assets/logo.svg" alt="logo" width="144">
        <h1>
            Material Color Picker
        </h1>
        <p>
            Inspired by old <a href="https://web.archive.org/web/20140701012736/ttps://www.google.com/design/spec/style/color.html" target="_blank" rel="noreferrer">Google Material Design Color Guideline.</a>  <br> All colors and shades are from their old guideline website.
        </p>
        <p>
            Click to copy HEX to clipboard, support all major browsers.
        </p>
    </header>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    header {
        text-align: center;
        margin-bottom: 20px;
        padding-top: 30px;
    }

    h1 {
        color: #333333;
    }

    p {
        color: #555;
    }
    
    a {
        color: #2196F3;
        font-weight: 800;
        text-decoration: none;
    }
</style>