<template>
  <div id="app">
    <PageHead></PageHead>
    <PageBody></PageBody>
    <PageFooter></PageFooter>
  </div>
</template>

<script>
import PageHead from './components/Head.vue'
import PageBody from './components/Colors.vue'
import PageFooter from './components/Foot.vue'

export default {
  name: 'App',
  components: {
    PageHead,
    PageBody,
    PageFooter
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
  background: #f8f8f8;
  font-family: 'Inter', sans-serif;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}
</style>
